@charset "utf-8";
/* CSS Document */
body {
    margin:0;
    background-color:#BDC3C7;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content:center;
	align-items:center;
}
/* div {
    margin:0;
    padding: 0;
    position: fixed;
}
#score{
    color:white;
    position: relative;
    bottom: 50%;
    transform: translateY(-50%);
    display: inline;
}
#reset{
    position: relative;
    float: right;
} */

#MainFrame{
    width:100%;
    max-width:56.25vh;
    height: 100vh;
    max-height:177.78vw;
    margin:auto;
    display:flex;
    flex-direction: column;
}
#GameFrame {
    flex-grow:9;
    /* flex-basis: 56.25vh; */
}
#ScoreFrame {
    flex-grow:3;
    /* flex-basis:150px; */
}
#IconFrame {
    flex-grow:2;
}
#NextBallFrame {
    flex-grow:2;
}